.transaction-table-container {
  padding: 2vw;
  width: 100%;
}

#transaction-table-title {
  padding-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#transaction-table-form {
  padding-bottom: 2vw;
  display: flex;
  gap: 1vw;
  width: 100%;
}

#transaction-table-form app-input {
  flex: 1 1 auto;
  min-width: 0;
}

#transaction-table-form input, #transaction-table-form select{
  box-sizing: border-box;
  padding: 1vw;
  border-radius: 1vw;
}

#pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#pagination span {
  font-style: italic;
}

#pagination-buttons {
  display: flex;
  gap: 2vw;
}

#prev-button, #next-button {
  width: 3vw;
  height: 3vw;
  padding: 0;
  border-radius: 50%;

  /* hardcoded to be the same as the dropdown chips */
  background-color: #e9d5ff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.clickable {
  cursor: pointer;
}

/* table css */
table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  padding: 12px 16px;
  font-weight: normal;

  /* hardcoded to be the same as the dropdown chips */
  background-color: #e9d5ff;
}

/* Round the top-left and top-right corners */
thead th:first-child {
  border-radius: 1vw 0 0 1vw;
}

thead th:last-child {
  border-radius: 0 1vw 1vw 0;
}

tbody td {
  padding: 12px 16px;
}

/* Lines between rows, but not directly under the header */
tbody tr + tr {
  border-top: 1px solid #ddd;
}
