.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-m);
}

h1 {
  font-weight: 600;
  font-size: var(--step-10);
}

p {
  font-weight: 400;
  color: rgb(160, 160, 160);
  text-wrap: pretty;
  font-size: var(--step-3);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  label {
    font-weight: 500;
    font-size: var(--step-3);
    pointer-events: none;
  }

  input {
    width: 100%;
    background: rgb(240, 240, 240);
    border-radius: 0.75rem;
    padding: 1em 1.25em;
    font-size: 0.95rem;
    outline: 2px solid transparent;
    transition:
      outline 0.3s ease,
      filter 0.3s ease;

    &:focus {
      outline: 2px solid var(--primary);
      filter: brightness(0.95);
    }

    &:hover {
      filter: brightness(0.95);
    }
  }

  div {
    position: relative;
  }

  img {
    position: absolute;
    right: var(--space-s);
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    width: 1.2rem;
    transition: filter 0.3s ease;

    &:hover + input {
      filter: brightness(0.95);
    }
  }
}

.error {
  color: red;
  font-size: 0.95rem;
}

@keyframes l7 {
  33% {
    background-size:
      calc(100% / 3) 0%,
      calc(100% / 3) 100%,
      calc(100% / 3) 100%;
  }
  50% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 0%,
      calc(100% / 3) 100%;
  }
  66% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 100%,
      calc(100% / 3) 0%;
  }
}

.button-container {
  margin-top: var(--space-m);
  position: relative;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 2rem;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
    background:
      var(--_g) 0% 50%,
      var(--_g) 50% 50%,
      var(--_g) 100% 50%;
    background-size: calc(100% / 3) 100%;
    animation: l7 1s infinite linear;
  }

  button {
    width: 100%;
    background: linear-gradient(
      to right,
      oklch(from var(--primary) l c calc(h - 20)),
      oklch(from var(--primary) l c calc(h + 20))
    );
    color: white;
    font-weight: 600;
    font-size: var(--step-2);
    padding: 0.75em 1em;
    border-radius: 0.75rem;
    transition:
      outline 0.3s ease,
      filter 0.3s ease;

    &:enabled {
      cursor: pointer;
      &:hover,
      &:focus {
        outline: none;
        filter: hue-rotate(30deg);
      }
    }

    &:disabled {
      cursor: not-allowed;
      filter: opacity(0.75);
    }
  }

  .transparent {
    color: transparent;
  }
}

.divider {
  background: rgb(200, 200, 200);
  height: 0.05rem;
  border-radius: 1000rem;
  margin: var(--space-m) 0;
}

.bottom {
  text-align: center;
}

.link {
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
  transition: filter 0.3s ease;

  &:hover,
  &:focus {
    filter: brightness(1.25);
  }
}
