<div class="wrapper">
  <h1>{{ heading() }}</h1>
  <p>{{ description() }}</p>
  <form
    (input)="isFormValid.set($any($event.currentTarget).checkValidity())"
    (submit)="submit($event)"
  >
    @for (field of fields(); track field.name) {
      <div class="input-group">
        <label [for]="field.name">{{ field.label }}</label>
        <div>
          @if (field.type === 'password') {
            <img
              [hidden]="!showPassword()"
              (click)="togglePasswordVisibility()"
              src="/assets/auth/eye-off.svg"
              alt="Hide Password"
            />
            <img
              [hidden]="showPassword()"
              (click)="togglePasswordVisibility()"
              src="/assets/auth/eye.svg"
              alt="Show Password"
            />
            <input
              [type]="showPassword() ? 'text' : 'password'"
              [name]="field.name"
              [placeholder]="field.placeholder || ''"
              required
            />
          } @else {
            <input
              [type]="field.type"
              [name]="field.name"
              [placeholder]="field.placeholder || ''"
              required
            />
          }
        </div>
      </div>
    }
    <p [hidden]="!errorText()" class="error">{{ errorText() }}</p>
    <!-- <div class="button-container">
      <button
        [class.transparent]="isLoading()"
        [disabled]="isLoading() || !isFormValid()"
        type="submit"
      >
        {{ buttonText() }}
      </button>
      <div [hidden]="!isLoading()" class="loader"></div>
    </div> -->
    <app-button
      class="margin-top-medium"
      type="submit"
      [disabled]="isLoading() || !isFormValid()"
      [loading]="isLoading()"
      >{{ buttonText() }}</app-button
    >
  </form>
  <div class="divider"></div>
  <p class="description bottom">
    {{ footerText() }}
    <a class="link" routerLink="{{ footerActionLink() }}">{{ footerActionText() }}</a>
  </p>
</div>
