<h1 mat-dialog-title>Transaction Failed</h1>
<mat-dialog-content>
  <div class="flex flex-col gap-x-4 items-center gap-y-10">
    <ng-icon name="matErrorRound" size="140" class="text-red-600! hover:text-red-700" />
    <span class="text-2xl font-semibold">{{ data.error }}</span>
  </div>
  <div class="border border-gray-200 w-full my-4"></div>

  <mat-dialog-actions align="end" class="flex flex-row gap-x-5">
    <div class="button-container">
      <!-- [mat-dialog-close]="true" closes the dialog and sends `true` back to the parent. -->
      <button [mat-dialog-close]="true" class="button-container">Continue</button>
    </div>
  </mat-dialog-actions>
</mat-dialog-content>
