:host {
  display: block;
}

input {
  width: 100%;
  background: rgb(240, 240, 240);
  border-radius: 0.75rem;
  padding: 1em 1.25em;
  font-size: var(--step-0);
  outline: 2px solid transparent;
  transition:
    outline 0.3s ease,
    filter 0.3s ease;

  &:focus {
    outline: 2px solid var(--primary);
    filter: brightness(0.95);
  }

  &:hover {
    filter: brightness(0.95);
  }

  &::placeholder {
    color: rgb(200, 200, 200);
  }
}

div {
  position: relative;
}
