:host {
  display: block;
}

input {
  width: 100%;
  background: rgb(240, 240, 240);
  border-radius: 0.75em;
  padding: 1em 1.25em;
  font-size: var(--step-0);
  outline: 2px solid transparent;
  transition:
    outline 0.3s ease,
    filter 0.3s ease,
    color 0.3s ease;

  &:enabled {
    &:focus {
      outline: 2px solid var(--primary);
      filter: brightness(0.95);
    }

    &:hover {
      filter: brightness(0.95);
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: rgb(200, 200, 200);
  }

  &::placeholder {
    color: rgb(200, 200, 200);
  }
}

div {
  position: relative;
}

img {
  position: absolute;
  right: var(--space-s);
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  width: 1.2rem;
  transition: filter 0.3s ease;

  &:hover + input {
    filter: brightness(0.95);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* Removes the 'X' in Internet Explorer */
input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
